sudo: required

services:
  - docker
  - docker-compose

before_script:
  - sudo /etc/init.d/mysql stop

script:
  - docker-compose build
  - docker-compose up -d
  - sleep 60
  - docker-compose stop
  - docker-compose kill
