php:
  build: php
  ports :
   - "80:80"
  volumes:
   - web:/var/www/html/
  links:
   - database

phpmyadmin:
   image: phpmyadmin/phpmyadmin
   ports :
    - "8080:80"
   environment:
    - MYSQL_ROOT_PASSWORD=password
    - MYSQL_USERNAME=root
    - MYSQL_PASSWORD=password
   links:
    - database:db

database:
  image: mysql:5.5
  ports:
   - "3306:3306"
  environment:
     - MYSQL_ROOT_PASSWORD=password
     - MYSQL_DATABASE=mysite
     - MYSQL_USER=mysite
     - MYSQL_PASSWORD=password

composer:
  image: composer/composer:php5
  command: install
  volumes:
    - web:/app
